  *{
    padding:0px;
    margin: 0px;
}
 


 .jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.parent1{
     height: 850px;
     width: 100%;
     background-color: #fef9ed;
}
.box1{
    height: 100px;
    width: 100%;
    /* background-color: #d2980f; */
    display: flex;
    justify-content: center;
    
   

}

.navbar1{
    
    height: 100px;
    width: 74%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    
}

.navbarin1{
  height: 100px;
  width: 18%;
  /* background-color: red; */
 
  
  
}


.imgnav{
    padding-left: 20px;
    padding-top: 32px;

}

.navbarin2{
    height: 100px;
    width: 43%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .home{
    letter-spacing: 3px;
    padding-left: 10px;
    color: #ff671f;
    font-size: 16px;
    font-weight: 600;
    font-family: jost;
  }

  .Services{
    padding-left: 40px;
    letter-spacing: 3px;
    color: Black;
    font-size: 16px;
    font-weight: 600;
    font-family: jost;
    
  }

  .Skills{
    padding-left: 40px;
    letter-spacing: 3px;
    color: Black;
    font-size: 16px;
    font-weight: 600;
    font-family: jost;
  }
  .Portfolio{
    padding-left: 40px;
    letter-spacing: 3px;
    color: Black;
    font-size: 16px;
    font-weight: 600;
    font-family: jost;
  }
  .Contact{
    padding-left: 40px;
    letter-spacing: 3px;
    color: Black;
    font-size: 16px;
    font-weight: 600;
    font-family: jost;
  }

  .navbarin3{
    height: 100px;
    width: 18%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
  }


.buttton{
    height: 45px;
    width: 170px;
  background-color:  #fe641c;
  border: 0cap;
  box-shadow: 5px 5px  black; 
  color: white;
  font-weight: 700;
  font-family: jost;
  letter-spacing: 3px;
}


.box2{
   height: 1000px;
   width: 100%;
   
   display: flex;
   justify-content: center;
}

.boxmain{
    height: 1000px;
    width: 80%;
    
    display: flex;
 }

 .leftbox{
  height: 1000px;
  width: 50%;
 }

 .name{
    padding-left: 70PX;
 font-family: jost;
 letter-spacing: 3px;
 font-weight: 600;

}

.iam{
    padding-left: 70PX;
    font-family: jost;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 70px;
}
.based{
    letter-spacing: 3px;
    padding-left: 70PX;
    font-family: jost;
    letter-spacing: 3px;
}

 .buttton2{
    letter-spacing: 3px;
    margin-left: 70px;
    height: 45px;
    width: 170px;
  background-color:  #fe641c;
  border: 0cap;
  box-shadow: 5px 5px  black; 
  color: white;
  font-weight: 700;
  font-family: jost;
}

 .rightbox{
    height: 1000px;
    width: 50%;
 }

 .imggirl{
    max-height: 580;
    max-width: 710;


 }


/* small black box */
 .parent2{
    height: 100px;
    width: 100%;
    background-color: #373636;
    display: flex;
    justify-content: center;
}

.parent2in{ 
  
    height: 100px;
    width: 73%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}

.parent3{
  height: 800px;
  width: 100%;
  /* background-color: rgb(11, 121, 44); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent3in{
  height: 600px;
  width: 72%;
  /* background-color: rgb(13, 116, 116); */
  display: flex;
}

.leftbox1{
   height: 500px;
   width: 50%;
}

.rightbox1{
  height: 500px;
  width: 50%;
}

.freelancer{
   font-size: 41px;
   font-weight: 600;
   font-family: jost;
   padding-left: 50px;
   line-height: 50px;
   
}

.san{
  font-size: 18.5px;
  font-weight: 400;
  font-family: jost;
  padding-left: 50px;
}

.smallright{
  height: 200px;
  width: 55%;
  /* background-color: bisque; */
  margin-left: 50px;
  display: flex;
}


.smallright1{
  height: 200px;
  width: 50%;
  /* background-color: bisque; */
  
  
}

.two{
  font-size: 27px;
  color: #ff671f;
  font-family: jost;
  font-weight: 600;
}

.projectc{
  font-size: 15px;
  color: black;
  font-family: jost;
  font-weight: 600;
}



.buttton3{
  letter-spacing: 3px;
 
  height: 45px;
  width: 90%;
background-color:  #fe641c;
border: 0cap;
box-shadow: 5px 5px  black; 
color: white;
font-weight: 700;
font-family: jost;
}

.smallright2{
  height: 200px;
  width: 50%;
  /* background-color: pink; */
  
  
}
.buttton4{
  letter-spacing: 3px;
 
  height: 45px;
  width: 90%;
background-color: black ;
border: 0cap;
box-shadow: 5px 5px #fe641c; 
color: white;
font-weight: 700;
font-family: jost;
}

/* <!-- My servies starts --> */

.servicess{
  height: 900px;
  width: 100%;
  background-image: url(bg-effect-1.png);
  
}

.MYservices{
  font-family: jost;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  
}
.servicesin{
  height: 600px;
  width: 100%;
  /* background-color: lightgray; */
  display: flex;
  justify-content: center;
  
}
.servicesinin{
  height: 600px;
  width: 72%;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: space-between;
  
}

.leftboxin{
  height: 600px;
  width: 49%;
  /* background-color: lightcoral; */
  
}




.leftboxin1{
  
  height: 190px;
  width: 100%;
  border: black;
  border-style: solid;
  border-radius: 0%;
  border-width: 2px;
  background-color: #9bd2d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftboxin1in{
  padding-top: 25px;
  height: 140px;
  width: 85%;
  
  /* background-color: lightyellow; */
  display: flex;

  
}

.leftboxin1in1{
  
  height: 140px;
  width: 15%;
  
  /* background-color: blue; */
  
  
}

.leftboxin1in1in{
  
  height: 70px;
  width: 93%;
  
  background-color: white;
  border: black;
  border-style: solid;
  border-width: 2px;
  
  
}

.fa-mobile-button{
  padding-top: 16px;
  font-size: 35px;
  
  
  color: black;
}
.leftboxin1in2{
  
  height: 140px;
  width: 85%;
  
  /* background-color: lightyellow; */
  
}


.webb{
  padding-left: 20px;
  font-size: 23px;
  font-weight: 600;
  font-family: jost;
}
.loremm{
  padding-left: 20px;
  font-size: 17px;
 
  font-family: jost;
}


.leftboxin2{
  
  height: 190px;
  width: 100%;
  border: black;
  border-style: solid;
  border-radius: 0%;
  border-width: 2px;
  background-color: #ffccb4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-triangle-exclamation{
  padding-top: 16px;
  font-size: 35px;
  
  
  color: black;
}


.leftboxin2{
  
  height: 190px;
  width: 100%;
  border: black;
  border-style: solid;
  border-radius: 0%;
  border-width: 2px;
  background-color: #ffccb4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftboxin3{
  
  height: 190px;
  width: 100%;
  border: black;
  border-style: solid;
  border-radius: 0%;
  border-width: 2px;
  background-color: #c5d39a;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rightboxin{
  height: 600px;
  width: 49%;
  /* background-color: lightslategray; */
  
}

.rightboxin1{
  
  height: 190px;
  width: 100%;
  border: black;
  border-style: solid;
  border-radius: 0%;
  border-width: 2px;
  background-color: #ffc446;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightboxin2{
  
  height: 190px;
  width: 100%;
  border: black;
  border-style: solid;
  border-radius: 0%;
  border-width: 2px;
  background-color: #92b4fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightboxin3{
  
  height: 190px;
  width: 100%;
  border: black;
  border-style: solid;
  border-radius: 0%;
  border-width: 2px;
  background-color: #d2ceff;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* <!-- My servies end --> */

/* my skills section starts */

.skillls{
  height: 768px;
  width: 100%;
  /* background-color: lightblue; */
}


.skillsi{
  height: 600px;
  width: 100%;
  /* background-color: lightcoral; */
  display: flex;
  justify-content: center;

}


.skillsin{
  height: 600px;
  width: 72%;
  /* background-color: lightcyan; */
  display: flex;
}

.lskill {
  height: 600px;
  width: 50%;
  /* background-color: lightgoldenrodyellow; */
}


.myskilll{
  font-family: jost;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
  
  
}


.lboxes{
   height: 300px;
   width: 100%;
   /* background-color: lightgreen; */
   display: flex;
   justify-content: space-between;
}

.leftlboxes{
  height: 300px;
  width: 48.5%;
  /* background-color: lightgrey; */
}

.leftlboxes1{
  height: 80px;
  width: 98%;
  background-color: #9bd2d1;
  border-style: solid;
  border-width: 2px;
  
  display: flex;

}

.iconcontianer{ 
  margin-left: 15px;
  margin-top: 10px;
     height: 56px;
     width: 55px;
     background-color: white;
     border-style: solid;
     border-width: 2px;
     
}

.fa-html5{
  padding-top: 9px;
  padding-left: 13px;
  font-size: 35px;
}

.htmll{
  padding-top: 20px;
  padding-left: 12px;
  font-size: 16px;
  font-weight: 500;
  font-family: jost;
}


.leftlboxes2{
  height: 80px;
  width: 98%;
  background-color: #ffccb4;
  border-style: solid;
  border-width: 2px;
  
  display: flex;

}

.fa-react{
  padding-top: 9px;
  padding-left: 10px;
  font-size: 35px;
}

.leftlboxes3{
  height: 80px;
  width: 98%;
  background-color: #c5d39a;
  border-style: solid;
  border-width: 2px;
  
  display: flex;

}

.fa-apple{
  padding-top: 9px;
  padding-left: 13px;
  font-size: 35px;
}
.rightlboxes{
  height: 300px;
  width: 48.5%;
  /* background-color: lightpink; */
}

.rightlboxes1{
  height: 80px;
  width: 98%;
  background-color: #ffc446;
  border-style: solid;
  border-width: 2px;
  
  display: flex;

}



.fa-css3{
  padding-top: 9px;
  padding-left: 11px;
  font-size: 35px;
}
.rightlboxes2{
  height: 80px;
  width: 98%;
  background-color: #92b4fe;
  border-style: solid;
  border-width: 2px;
  
  display: flex;

}

.fa-angular{
  padding-top: 9px;
  padding-left: 11px;
  font-size: 35px;
}
.rightlboxes3{
  height: 80px;
  width: 98%;
  background-color: #d2ceff;
  border-style: solid;
  border-width: 2px;
  
  display: flex;

}

.fa-android{
  padding-top: 9px;
  padding-left: 8px;
  font-size: 35px;
}
.rskill {
  height: 600px;
  width: 50%;
  /* background-color: lightgray; */
}

/* skills section ends here */
/* antoher small box starts here */

.afterskill{
  height: 150px;
  width: 100%;
  background-color: #373636;
  display: flex;
  align-items: center;
  
  
  
}

.interested{
  padding-left: 240px;
  font-family: jost;
  font-size: 39px;
  font-weight: 600;
  color: white;
  /* letter-spacing: 3px; */
  
  
}

.buttton5{
  margin-left: 555px;
  height: 45px;
  width: 170px;
background-color:  #fec448;
border: 0cap;
box-shadow: 5px 5px  #fa641d; 
color: black;
font-weight: 500;
font-family: jost;
letter-spacing: 3px;

}


/* antoher small box ends here */


/* latest project starts here */

.latestp{
  height: 1750px;
  width: 100%;
   background-color: #fef9ed;

}

.lp{
  height: 100px;
  width: 100%;
  /* background-color: #92b4fe; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.latestproject{
  /* padding-left: 240px; */
  font-family: jost;
  font-size: 52px;
  font-weight: 550;
  color: black;
  letter-spacing: 3px;
}



.sp{
  height: 900px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.insidesp{
  height: 900px;
  width: 68%;
  /* background-color: lightpink; */
  display: flex;
  justify-content: space-between;
}

.pboxleft{
  height: 900px;
  width: 44.5%;
  /* background-color: lightseagreen; */
}

.pboxleft1{
  height: 360px ;
  width: 100% ;
  /* background-color: blue; */
  
  
}
.pboxleft2{
  height: 360px ;
  width: 100% ;
  /* background-color: yellow; */
  
  
}

.webbox{
  margin-left: 22px;
  height: 25px;
  width: 140px;
  background-color: #ffdbc3;
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.webdesignn{
  text-align: center;
  font-size: 12px;
  font-family: jost;
  font-weight: 500;
  letter-spacing: 3px;


}

.agency{
  margin-left: 22px;
  font-family: jost;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.idesign{
  margin-left: 22px;
  font-family: jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.buttton6{
  margin-left: 22px;
  margin-top: 22px;
  height: 45px;
  width: 170px;
background-color:  fa641d;
border: 0cap;
box-shadow: 5px 5px  black; 
color: white;
font-weight: 500;
font-family: jost;
letter-spacing: 3px;

}

.pboxright{
height: 900px;
width: 44.5%;
/* background-color: lightgrey; */
}
/* latest project ends hereS */

/* testimial part starts here */



/* testimonial ends here  */

.testi{
  height: 400px;
  width: 100%;
  /* background-color: lightcyan; */
}


.testimonial{
  /* padding-left: 240px; */
  font-family: jost;
  font-size: 51px;
  font-weight: 550;
  color: black;
  letter-spacing: 3px;
  text-align: center;
}

.twoboxes{ 
  height: 250px;
  width: 100%;
  /* background-color: lightblue; */
  display: flex ;
  justify-content: center;
  align-items: center;
  
}

.innn{
  height: 250px;
  width: 72%;
  /* background-color: red; */
  display: flex ;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}


.innn1{
  height: 220px;
  width: 48.5%;
  /* background-color: pink; */
  border-style: solid;
  border-color: black;
  border-width: 1.99px;
  display: flex;
  justify-content: center;
  align-items: center;

  
}


.innn2{
  height: 220px;
  width: 48.5%;
  /* background-color: pink; */
  border-style: solid;
  border-color: black;
  border-width: 1.99px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}


.smallboxx{
  height: 190px;
  width: 90%;
  background-color: white;
  display: flex;

}

.photosb{
  margin-top: 20px;
  margin-left: 15px;
  height: 95px;
  width: 95px;
  background-color: white;
  border-style: solid;
  border-color: black;
 border-width: 1.99px;

}


.ipsum{
  padding-top: 20px;
  padding-left: 20px;
  font-family: jost;
  font-size: px;
  font-weight: 420;
  color: rgb(67, 66, 66);
  /* letter-spacing: 3px; */
  /* text-align: center; */

}

.jenni{
  padding-top: 10px;
  padding-left: 20px;
  font-family: jost;
  font-size: 16px;
  font-weight: 550;
  color: black
}


.pxdraft{
  padding-top: 1px;
  padding-left: 20px;
  font-family: jost;
  font-size: 15px;
  font-weight: 420;
  color: rgb(61, 58, 58)
}


.dots{
  height: 20px;
  width: 100%;
  /* background-color: lightgray; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot1{
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
}
.dot2{
  margin-left: 5px;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}


/* last section starts here */
.lastparent{
  height: 770px;
  width: 100%;
  background-image: url(bg-effect-3.png);
  background-color: #373636;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
   
  /* background-position: center; */
}



.lpbox{
    height: 600;
    width: 72%;
    /* background-color: lightblue; */
    display: flex;
}

.leftlast{
  padding-right: 30px;
  height: 600px;
  width: 50%;
  background-color: white ;
}


.gettin{
  padding-left: 30px;
  font-family: jost;
  font-size: 35px;
  font-weight: 550;
  color: black;
  
  
}

.ourfr{
  padding-left: 30px;
  font-family: jost;
  font-size: 18px;
  font-weight: 420;
  color: rgb(78, 73, 73);

}



.rightlast{
  margin-left: 230px;
  margin-right: 15px;
  height: 600px;
  width: 50%;
  /* background-color: lightgrey; */

}

.forform{
  margin-left: 30px;
  height: 600px;
  /* width: 550px;
  background-color: red; */
}
.fnamee{
  font-family: jost;
  font-size: 15px;
  color: rgb(86, 84, 84);
  line-height: 40px;
}

.emaill{ margin-left: 205px;
  font-family: jost;
  font-size: 15px;
  color: rgb(86, 84, 84);
  line-height: 40px;  
}


.namebox{
height: 45px;
width:260px;
font-family: jost;
font-size: 16px;
}

.emailbox{
  margin-left:10px ;
  height: 45px;
  width:260px;
  font-family: jost;
  font-size: 16px;
}

.subbox{
  font-size: 16px;
  height: 45px;
  width:535px;
  font-family: jost;  
}

.mbox{
  font-size: 16px;
  height: 150px;
  width:535px;
  font-family: jost;
}


.buttton7{
  /* margin-left: px; */
  height: 45px;
  width: 170px;
background-color:  #fec448;
border: 0cap;
box-shadow: 5px 5px  #fa641d; 
color: black;
font-weight: 500;
font-family: jost;
letter-spacing: 3px;

}


.phonebox{
  width: 100%;
  height: 52px;
  
  display: flex;
}

.iconbox{
  height: 52px;
  width: 59px;
  background-color: #9bd2d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-envelope{
  font-size: 25px;
  color: black;
}

.txtspace{ 
  margin-left: 10px;
  font-family: jost;
  letter-spacing: 2px;
  color: #9dacad;
  font-size: 15px;
}




.mailbox{
  width: 100%;
  height: 52px;
  
  display: flex;
}

.iconboxc{
  height: 52px;
  width: 59px;
  background-color: #ffc446;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-envelope{
  font-size: 25px;
  color: black;
}

.txtspace{ 
  margin-left: 10px;
  font-family: jost;
  letter-spacing: 2px;
  color: #9dacad;
  font-size: 15px;
}


.Visitbox{
  width: 100%;
  height: 52px;
  
  display: flex;
}


.fa-phone{
  font-size: 25px;
  color: black;
}


.iconboxl{
  padding-right: 22px;
  height: 52px;
  width: 59px;
  background-color: #ffccb4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-location-dot{
  margin-left: 20px;
  font-size: 25px;
  color: black;
}











/* last section ends here */

 /* last small box starts here */

 .lsmall{
  
  height: 50px;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background-color: #373636;
 }

 .smallboxin{
  height: 50px;
  width: 75%;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: #b4bbbc;
 }



 .fa-facebook-f{
    margin-left: 20px;
 }

 .fa-twitter{
  margin-left: 15px;
}

.fa-instagram{
  margin-left: 15px;
}



.fa-linkedin-in{
  margin-left: 15px;
}

.fa-pinterest{
  margin-left: 15px;
}

 /* last small box ends here */





